@import "Header";
@import "Products";
@import "Order";

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 100%;
}

// .app-body {
//   display: grid;
//   justify-items: center;
//   padding-top: 4%;
// }

.products-block {
  width: 80%;
  height: 33vh;
  background-color: #49bc8a;
  border-radius: 0.5em;
  text-align: center;
  display: grid;
  align-items: center;
}

.product-manage-form form {
  display: flex;
  color: white;
  justify-content: space-around;
  margin: auto;
  padding: 1.5rem;
  width: 80%;
  background-color: #49bc8a;
  border-radius: 0.5em;


}

button {
  background-color: #49bc8a;
  border-radius: 0.5em;
  color: white;
  outline-width: 0;
}



.product-manage-form form > label{
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;
}

.product-manage-form form > label > input {
  margin-left: 1rem;
}

.website-description {
  margin: 2rem;
}