@import "Navigation";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// TODO - Task 2: Change my colour here
.page-header {
  background: linear-gradient(119deg, #ff976d 0%, #ff3dbe 89%);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  font-family: 'Rubik', sans-serif;
}

.page-header h1{
  color: white;
  font-size: 5vh;
  cursor: pointer;
}